<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Planing</title>


    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css">
    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/css/cover.css}" href="../../css/cover.css">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Zarządzaj swoim czasem</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="#">Contact</a>
            </nav>
        </div>
    </header>
    <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
            <img class="mr-3" src="/images/alarm-clock.svg" alt="" width="52" height="52">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Dzisiaj mamy:</h6>
                <p><span id="datetime"></span></p>
                <script>var dt = new Date();document.getElementById("datetime").innerHTML = (("0"+dt.getDate()).slice(-2)) +"."+ (("0"+(dt.getMonth()+1)).slice(-2)) +"."+ (dt.getFullYear());</script>
            </div>
        </div>
        <div th:switch="${task}" class="my-3 p-3 bg-white rounded shadow-sm">
            <div th:case="*">
                <div class="col-sm">
                    <form class="needs-validation" novalidate action="#" th:action="@{/tasks/}" th:object="${task}" method="post">
                        <div class="mb-3">
                            <label for="id" style="color:#125B20">ID</label>
                            <input type="text" class="form-control" id="id" th:value="@{${task.id}}" required>
                            <div class="invalid-feedback">
                                Id błędne.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="name" style="color:#125B20">Nazwa</label>
                            <input type="text" th:field="*{name}" class="form-control" id="name" th:value="@{${task.name}}" required>
                            <div class="invalid-feedback">
                                Proszę podać nazwę zadania.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="description" style="color:#125B20">Opis</label>
                            <input type="text" th:field="*{description}" class="form-control" id="description" th:value="@{${task.description}}">
                        </div>

                        <div class="row">
                            <div class="col-md-5 mb-3">
                                <label for="status" style="color:#125B20">Status</label>
                                <select class="custom-select d-block w-100" th:field="*{status}" id="status" required>
                                    <option th:value="@{${task.status}}" th:text="@{${task.status}}"></option>
                                    <option th:each="i : ${statuses}" th:value="${i}" th:text="${i}"></option>
                                </select>
                                <div class="invalid-feedback">
                                    Wprowadz prawidłowy status
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="date" style="color:#125B20">Data (DD-MM-RRRR)</label>
                                <input type="text" th:field="*{date}" class="form-control" id="date" th:placeholder="@{${task.date}}">
                                <div class="invalid-feedback">
                                    Niepoprawny format daty.
                                </div>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Zapisz</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p><a href="https://www.flaticon.com/authors/smashicons/">Icons made by falticon</a></p>
        </div>
    </footer>
</div>
</body>
</html>
