<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Planing</title>


    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css">
    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/css/cover.css}" href="../../css/cover.css">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Zarządzaj swoim czasem</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="/contact">Contact</a>
            </nav>
        </div>
    </header>
    <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
            <img class="mr-3" src="/images/alarm-clock.svg" alt="" width="52" height="52">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Dzisiaj mamy:</h6>
                <p><span id="datetime"></span></p>
                <script>var dt = new Date();document.getElementById("datetime").innerHTML = (("0"+dt.getDate()).slice(-2)) +"."+ (("0"+(dt.getMonth()+1)).slice(-2)) +"."+ (dt.getFullYear());</script>
            </div>
        </div>
        <div th:switch="${tasks}" class="my-3 p-3 bg-white rounded shadow-sm">
            <h5 style="color:#125B20">Przegląd zadań</h5>
            <small class="d-block text-right mt-3">
                <a href="/tasks/add" style="color:#990000">Dodaj nowe zadanie</a>
            </small>
            <h2 th:case="null">No tasks yet!</h2>
            <div th:case="*">
                <table class="table table-striped table-responsive-md">
                    <tbody>
                    <tr th:each="task : ${tasks}">
                        <div class="media text-muted pt-3">
                            <img class="mr-3" src="/images/hourglass.svg" alt="" width="32" height="32">
                            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <div class="d-block p-2 bg-dark text-white">
                                    <strong class="text-gray-dark" th:text="${task.name}"></strong>
                                </div>
                                <div class="d-block p-2 bg-dark text-white">
                                    <span class="d-block" th:text="${task.date}"></span>
                                </div>
                                <div class="d-block p-2 bg-dark text-white">
                                    <span class="d-block" th:text="${task.status}"></span>
                                </div>
                                <div class="d-block p-2 bg-dark text-white">
                                    <strong><a th:href="@{'/tasks/' +  ${task.id}}" style="color:#125B20">Edit</a></strong>
                                </div>
                            </div>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p><a href="https://www.flaticon.com/authors/smashicons/">Icons made by falticon</a></p>
        </div>
    </footer>
</div>
</body>
</html>
