<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Planing</title>


    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css">
    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/css/cover.css}" href="../../css/cover.css">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Zarządzaj swoim czasem</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="#">Home</a>
                <!--<a class="nav-link" href="#">Features</a>-->
                <a class="nav-link" href="#">Contact</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">Witaj w aplikacji planowanie</h1>
        <br>
        <br>
        <p class="lead">Plan: coś, co potem wygląda ab­so­lut­nie inaczej.</p>
        <p class="lead">Julian Tuwim</p>
        <p class="lead">
            <a href="tasks" class="btn btn-lg btn-secondary">Rozpocznij</a>
        </p>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p><a href="https://www.linkedin.com/in/magdalenafro/">Meet me at linkedIn</a></p>
        </div>
    </footer>
</div>
</body>
</html>
